.slider-group {
  margin-top: 40px;
}

.tooltip-main {
  opacity: 100!important;
}

span.strike {
  text-decoration: line-through;
}

.faset {
  max-height: 100px;
  overflow-y: scroll;
}

em {
  background-color: yellow;
}

.no-decoration {
  text-decoration: none;
}