%h2= "Results total: #{presenter.total}"
%hr
- presenter.books.each do |book|
  .media.container.jumbotron
    .media-body
      %h3.mt-0= book['title']
      %h4.mt-1= book['subtitle']

      %dl.row
        %dt.col-sm-2 tags
        %dd.col-sm-4
          - book['tags']&.each do |tag|
            %span.badge.badge-secondary= tag

        - ['author', 'price', 'distributor', 'year', 'weight', 'packaging', 'language', 'isbn', 'discount_percentage'].each do |key|
          %dt.col-sm-2= key
          %dd.col-sm-4= book[key]

        %dt.col-sm-2 availability
        %dd.col-sm-4= book['is_available'] ? 'available' : 'not available'

        - unless book['rating'].empty?
          %dt.col-sm-2 rating
          %dd.col-sm-4= book['rating'].sum / book['rating'].size

      %p= book['description']
  %hr
