%a.btn-sm.btn-primary.no-decoration{href: '/'} Clear filter
%form{action: '/', method: :get}

  .form-group
    %label{for: :query} Search query
    %input#query.form-control{type: :text,
                              name: :query,
                              value: params[:query],
                              placeholder: 'Type your query here'}

  .form-group
    %label{for: :sort} Ordering
    %select#sort.form-control{name: :sort}
      - presenter.sort_options.each do |value, name|
        - if params[:sort] == value.to_s
          %option{value: value, selected: 'selected'}= name
        - else
          %option{value: value}= name

  .form-group.slider-group
    %label{for: :price} Price
    %input#price.span2{type: :text,
                       name: :price,
                       value:"",
                       'data-slider-min': presenter.min_price,
                       'data-slider-max': presenter.max_price,
                       'data-slider-step': "5",
                       'data-slider-value': presenter.price_value}

  .form-group.slider-group
    %label{for: :weight} Weight
    %input#weight.span2{type: :text,
                        name: :weight,
                        value:"",
                        'data-slider-min': presenter.min_weight,
                        'data-slider-max': presenter.max_weight,
                        'data-slider-step': "5",
                        'data-slider-value': presenter.weight_value}

  .form-group.slider-group
    %label{for: :pages} Pages
    %input#pages.span2{type: :text,
                        name: :pages,
                        value:"",
                        'data-slider-min': presenter.min_pages,
                        'data-slider-max': presenter.max_pages,
                        'data-slider-step': "5",
                        'data-slider-value': presenter.pages_value}

  .form-group.slider-group
    %label{for: :year} Year
    %input#year.span2{type: :text,
                        name: :year,
                        value:"",
                        'data-slider-min': presenter.min_year,
                        'data-slider-max': presenter.max_year,
                        'data-slider-step': "1",
                        'data-slider-value': presenter.year_value}

  %fieldset.container.card
    %legend Availability
    .form-group.faset.card-body
      .form-check
        %input.form-check-input{id: :is_available, name: :is_available, type: :checkbox, checked: !!params[:is_available]}
        %label.form-check-label{for: :is_available}
          %span{class: "#{presenter.bucket_count(:is_available) > 0 ? '' : 'strike'}"}= "In stock (#{presenter.bucket_count(:is_available)})"

      .form-check
        %input.form-check-input{id: :not_is_available, name: :not_is_available, type: :checkbox, checked: !!params[:not_is_available]}
        %label.form-check-label{for: :not_is_available}
          %span{class: "#{presenter.bucket_count(:not_is_available) > 0 ? '' : 'strike'}"}= "Not in stock (#{presenter.bucket_count(:not_is_available)})"


  %fieldset.container.card
    %legend Tags
    .form-group.faset.card-body
      - presenter.tags.each do |tag, count|
        .form-check
          %input.form-check-input{id: tag, name: "tags[#{tag}]", type: :checkbox, checked: !!params[:tags]&.[](tag)}
          %label.form-check-label{for: tag}
            %span{class: "#{count > 0 ? '' : 'strike'}"}= "#{tag} (#{count})"

  %fieldset.container.card
    %legend Distributors
    .form-group.faset.card-body
      - presenter.distributors.each do |distributor, count|
        .form-check
          %input.form-check-input{id: distributor, name: "distributors[#{distributor}]", type: :checkbox, checked: !!params[:distributors]&.[](distributor)}
          %label.form-check-label{for: distributor}
            %span{class: "#{count > 0 ? '' : 'strike'}"}= "#{distributor} (#{count})"

  %fieldset.container.card
    %legend Languages
    .form-group.faset.card-body
      - presenter.languages.each do |language, count|
        .form-check
          %input.form-check-input{id: language, name: "languages[#{language}]", type: :checkbox, checked: !!params[:languages]&.[](language)}
          %label.form-check-label{for: language}
            %span{class: "#{count > 0 ? '' : 'strike'}"}= "#{language} (#{count})"

  %fieldset.container.card
    %legend Packaging
    .form-group.faset.card-body
      - presenter.packages.each do |package, count|
        .form-check
          %input.form-check-input{id: package, name: "packagings[#{package}]", type: :checkbox, checked: !!params[:packagings]&.[](package)}
          %label.form-check-label{for: package}
            %span{class: "#{count > 0 ? '' : 'strike'}"}= "#{package} (#{count})"

  %button.btn.btn-primary{type: :submit} Search