!!!
%html
  %head
    %title Martinus query tool

    %link{rel: :stylesheet, href: 'assets/css/bootstrap.min.css'}
    %link{rel: :stylesheet, href: 'assets/css/bootstrap-grid.min.css'}
    %link{rel: :stylesheet, href: 'assets/css/bootstrap-reboot.min.css'}
    %link{rel: :stylesheet, href: 'assets/css/bootstrap-slider.min.css'}
    %link{rel: :stylesheet, href: 'assets/css/blog.css'}
    %link{rel: :stylesheet, href: 'assets/css/custom.css'}

    %script{src: 'assets/js/bootstrap.min.js'}
    %script{src: 'assets/js/bootstrap.bundle.min.js'}
    %script{src: 'assets/js/bootstrap-slider.min.js'}
    %script{src: 'assets/js/jquery-3.3.1.min.js'}
    %script{src: 'assets/js/custom.js'}

  %body

    .blog-masthead
      .container
        %h1.blog-title Martinus query tool

    .container
      .row
        .col-sm-4.blog-sidebar
          %aside= haml :filter, {}, {params: params, presenter: @filter_presenter}

        .col-sm-8.blog-main
          - unless @suggestions.empty?
            .container
              %h3 Suggestions:
              %dl.row
                - @suggests_presenter.get_suggestions.each do |key, value|
                  %dt.col-md-2= key
                  %dd.col-md-10= value.join('<br>')

          %article= haml :books, {}, {presenter: @books_presenter}

  %footer.blog-footer KOVatOr
